<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="icon" type="" href="/img/1.png">
    <%- include('partials/head')%>

</head>
<body>

    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">Sobre Nosotros</h1>
            <p>Justiciero, Un bot multifuncional que esta en desarrollo, el es el hermano perdido de Switch (descansa en paz), disfruta del bot con todas sus funciones totalmente nuevas!</p>
        </section>


        </main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%- include('partials/footer')%>


</body>
</html>