<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación</title>
    <link rel="icon" type="" href="/img/1.png">
    <%- include('partials/head')%>
    <%- include('partials/navigation')%>
    <div class="center" style="text-align: center;">   
        <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-1 my5 text-uppercase- fw-bold">Documentación</h1>
</div>
<div class="alert1">
<div class="alert alert-danger" role="alert">
    Estas viendo esto en modo alfa! Eso significa que se esta desarrollando 
  </div>
</div>
        <div class="group">
        <div class="card1" style="width: 18rem;">
            <div class="card1-body">
              <h5 class="card1-title">Sistemas Configurables</h5>
              <p class="card1-text">¿Duda sobre como configurar algun sistema del bot? Aqui encontraras lo que nesecitas!</p>
              <a href="#" class="btn btn-primary">Ir</a>
            </div>
          </div>
          <div class="card1" style="width: 18rem;">
            <div class="card1-body">
              <h5 class="card1-title">Comandos</h5>
              <p class="card1-text">¿Antes de invitar al bot quieres ver todos sus comandos y funciones? Lee este articulo</p>
              <a href="#" class="btn btn-primary">Ir</a>
            </div>
          </div>
        </div>

        <br>
        <br>
    
    
    
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>    
        <br>
        <br>
    
      
        <%- include('partials/footer')%>
</body>
</html>