<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias y Novedades</title>
    <link rel="icon" type="" href="/img/1.png">
    <%- include('partials/head')%>

   
</head>
<body>

    <%- include('partials/navigation')%>
    <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-1 my5 text-uppercase- fw-bold">Noticias y Novedades</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="cards ">
            
            <div class="cards-body">
              <h5 class="cards-title">Dessarrollo en Progreso</h5>
              <p class="cards-text">La version 1.0.0 su fecha de lanzamiento estimada es para el 21/07/2022. Pueden ver el progreso de la version en el inicio</p>
            </div>
            <div class="cards-footer">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <small class="text-muted">Fecha de publicacion: 12/06/2022</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cards">
           
            <div class="cards-body">
              <h5 class="cards-title">Lanzamiento de la Pagina Oficial</h5>
              <p class="cards-text">La nueva pagina para el bot Justiciero esta lista casi en su totalidad, solo falta agregar la seccion de Docs, que por el momento no es posible porque no se tiene informacion de ningun comando</p>
            </div>
            <div class="cards-footer">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <small class="text-muted">Fecha de publicacion: 12/06/2022</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cards">
            
            <div class="cards-body">
              <h5 class="cards-title">Un nuevo Incio</h5>
              <p class="cards-text">Tras la desverificacion del bot Switch se ha tomado la decision de revivir a Justiciero</p>
            </div>
            <div class="cards-footer">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <small class="text-muted">Fecha de publicacion: 12/06/2022</small>
            </div>
          </div>
        </div>
      </div>
      </div>

      
    <br>
    <br>



    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <br>

  
    <%- include('partials/footer')%>

</body>
</html>