<footer class="bg-dark text-center p-2">
 <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
<footer>
    <div class="footer">
    <div>
        <h3 class="footer-title">Donde econtrarnos</h3>
        <a href="https://discord.com/invite/mF6QdrKy" class="footer_social discord">
       <i class="fab fa-discord dc"></i>
        </a>
        
    </div>
    <div>
       
        <h3 class="footer-title">Información extra</h3>
        <ul>
            <li><a class="footer-link" href="/invite">Invitame</a></li>
            <li><a aria-disabled="true">Documentación</a></li>
            <li><a aria-disabled="true">Dame Amor</a></li>
        </ul>
    </div>
    <div>
     <h3 class="footer-title">Partners</h3>
        <ul>
            <li><a class="footer-link" href="https://kiaura.eu">Kiaura</a></li>
        </ul>
        </div>
</div>
    
</footer>

<script src=" 	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>